TRADINGMACHINE_REDIS_HOST=
TRADINGMACHINE_REDIS_PORT=
TRADINGMACHINE_REDIS_DATABASE=
TRADINGMACHINE_REDIS_USERNAME=
TRADINGMACHINE_REDIS_PASSWORD=

TRADINGMACHINE_MONGODB_HOST=
TRADINGMACHINE_MONGODB_PORT=
TRADINGMACHINE_MONGODB_DATABASE=
TRADINGMACHINE_MONGODB_USERNAME=
TRADINGMACHINE_MONGODB_PASSWORD=

TRADINGMACHINE_POSTGRES_HOST=
TRADINGMACHINE_POSTGRES_PORT=
TRADINGMACHINE_POSTGRES_DATABASE=
TRADINGMACHINE_POSTGRES_USERNAME=
TRADINGMACHINE_POSTGRES_PASSWORD=

TRADINGMACHINE_CHROMADB_HOST=
TRADINGMACHINE_CHROMADB_PORT=
TRADINGMACHINE_CHROMADB_DATABASE=

